<%= form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% @network.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div><%= f.label :name %><%= f.text_field :name %></div>
  <div><%= f.label :country %><%= f.country_select :country_alpha2_code , {priority: %w(US FI CA)}, prompt: 'Please select a country' %></div>

  <div><%= f.label :city %><%= f.text_field :city %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
