<%= labeled_form_for(@network) do |f| %>
  <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
        <% @network.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.country_select :country_alpha2_code, {priority: %w(US CA FI), :include_blank => true}, prompt: 'Please select a country', :label => "Country" %>
  <%= render partial: 'state', locals: {country_code: f.object.country_alpha2_code} %>
  <%= f.text_field :city %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
