<%= labeled_form_for([@network,@event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :start_date, :class => "datepicker" %>
  <%= f.text_field :end_date, :class => "datepicker" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
